<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <form action="/members" method="POST">
      <table>
        <tr>
          <input type="text" name="id" placeholder="ID">
        </tr>
        <tr>
          <input type="text" name="email" placeholder="email">
        </tr>
        <tr>
          <input type="text" name="age" placeholder="age">
        </tr>
        <tr>
          <input type="text" name="name" placeholder="name">
        </tr>
      </table>
      
      <button type="submit">제출</button>
    </form>
  </body>
</html>